@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*default home styles */

.root {
    width: 100%;
  }
  header {
    width: 100%;
    height: 4em;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .logo {
    width: 5%;
    margin-left: 100px;
  }
  .logo img {
    width: 100%;
  }
  .nav {
    margin-right: 100px;
  }
  nav ul {
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  nav ul li {
    margin-right: 20px;
    list-style: none;
  }
  nav ul li a {
    color: #a200ff;
    text-decoration: none;
  }

  /* --------Careers Style Starts Here-------- */


  .title{
    background: #eaf8fb;
    padding: 40px 150px;
    margin: auto 0;  
  }

  .title h2{
    color: #068afd;
  
  }
  .title p{
    font-size: .8em;
    margin-top: 10px;
  }

  .header{
    margin: auto;
    padding: 40px 150px;
    max-width: 1120px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h3{
    font-size: 2rem;
    margin-top: 2em;
  }

  p{
    margin-top: 1.5em;
    line-height: 1.5; 
  }

  .gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 150px;
    margin-bottom: 3em;
  }

 img {
    width: 100%;
  }

.bottom{
    background: #eaf8fb;
    margin: auto; 
    padding: 40px 150px;
    justify-content: center;
    align-items: center;
    
}

.bottom-title{
    text-align: center;
}
h3{
    text-transform: uppercase;
    font-size: .95rem;
    letter-spacing: .25rem;
}
h4{
    font-size: 2.5rem;
    margin-top: .25em;
}

.benefits{
    margin: auto;
    padding: 40px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.95;
}

.list ul li{
    list-style-type: none;
}
li{
   list-style-image: url(../assets/check-circle.svg);
   padding: 5px;
   
}


 

 